node_modules
etd-sdk-generator/.idea
dist
.idea
.vs
.vscode
etd-sdk-generator/yarn.lock
.DS_Store
sdk-dist/kotlin/src/main/kotlin/Main.kt
docs/js/*.md
docs/kotlin/*.md
*.egg-info
__pycache__
sdk-dist/typescript/yarn-error.log
