import requests
from typing import List, Optional, Any
from dataclasses import dataclass, field
from dataclasses_json import dataclass_json, config
from ..utils import to_dict
from ..exception import RPCException

{% for returnType in functionReturnTypes %}
@dataclass_json
@dataclass
class {{ returnType.type | camelCase | capitalize }}:
    {{ returnType.code | safe }}

{% endfor %}

class {{ methodName | camelCase | capitalize }}:
    {{ methodComment | safe | indent(4) }}

    def __init__(self, url: str):
        self.url = url


    {% for function in functions -%}
        {{ function[1] | safe | indent(4) }}
    {%- endfor %}

