import { RequestManager, HTTPTransport, Client } from "@open-rpc/client-js";

{{ methodComment }}
export class {{ methodName }}{
    client: Client
    baseURL: string
    port?: number

    constructor(baseURL: string, port?: number) {
        this.baseURL = baseURL;
        this.port = port;
        
        let url = port ? `${baseURL}:${port}` : baseURL;
        const transport = new HTTPTransport(url);
        this.client = new Client(new RequestManager([transport]));
    }


{%- for function in functions %}
{{ function[1] | safe }}
{% endfor %}

}